@media (max-width: 1050px) {
  .menu {
    padding: 0.6rem 0.5rem;
  }

  .itens-do-menu {
    padding: 0 10px;
  }
}

@media (max-width: 980px) {
  .menu .menu-icon {
    display: none;
  }
}

@media (max-width: 890px) {

  .logo-do-menu {
    font-size: clamp(1.3rem, 2.5vw, 1.5rem);
  }

  #material-de-apoio {
    display: none;
  }

  #mat-de-apoio-media {
    display: inline-block;
  }

  .itens-do-menu {
    font-size: 1.7vw;
  }

}